.header {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--color-gray-lighter);
  padding: 2rem;
}

.header-nav {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.header-nav li {
  display: inline-block;
  padding: 0;
}
.img-xs {
  width: 2.5rem;
  height: 2.5rem;  
}

.img-sm-2 {
  width: 3.5rem;
  height: 3.5rem;  
}

.badge-xs {
  width: 0.5rem;
  height: 0.5rem;
}

.badge-text {
  line-height: 0.5rem;
  font-size: var(--fs-xs);
}

.cart {
  margin-left: var(--space-sm);
}

form {
  display: flex;
}

form > input {
  width: 500px;
  flex-grow: 1;
  border: 2px solid #e2e2e2;
  border-radius: 50px;
  font-size: 1rem;
  padding: 0.5rem;
  margin-right: 12px;
  margin-left: 12px;
}

.btn {
  padding-left: 4rem;
  padding-right: 4rem;
}

a.user {
  padding: 0;
}

.sign-up {
  padding: 3rem;
  margin: 15rem;
}

.input-group {
  margin-top: 2rem;
}

.input-field-20w {
  width: 20rem;
}

.card-container {
  width: max-content;
}

.radio-text {
  margin-left: 0.5rem;
}

.sign-up .fa-chevron-right {
  padding-left: 0.5rem;
}

.btn-link.btn-forgot-password {
  border: none;
  text-decoration: none;
  color: var(--color-primary);
  padding-left: 2rem;
}

.btn-login {
  width: 20rem;
}